/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
}

/* Estilos do body */
body {
    background-color: #F7FF9A;
}

/* Estilos do cabeçalho */
#header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #af1118;
}

#links-navigation {
    display: flex;
    color: #ffffff;
}

#links-navigation p {
    margin-left: 80px;
}

#box-text input {
    padding: 7px 90px 7px 5px;
    border-radius: 5px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #af1118;
}

#box-text input[type="text"]::placeholder {
    color: white;
}

#icons-header {
    margin-right: 20px;
}

#icons-header img {
    padding-left: 25px;
    height: 40px;
    width: 40px;
}

/* Estilos da seção principal */
#main {
    display: flex;
}

.block-red {
    flex-shrink: 0;
    padding: 15px 25px 100px 25px;
    margin: 20px 0px 0px 20px;
    border-radius: 30px;
    background-color: #af1118;
    color: #ffffff;
}

.block-red h2 {
    padding-top: 20px;
    padding-bottom: 25px;
}

#icons-items p {
    white-space: nowrap;
    padding-top: 130px;
    padding-left: 200px;
}

#wlocation img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 400px;
    float: right; /* Alinha a imagem à direita */
}

/* Estilos da seção text-division */
#text-division {
    font-size: 24px;
    padding-left: 43%;
    padding: 20px 0px 20px 43%;
}

/* Estilos do container */
#container {
    display: flex;
    padding-bottom: 50px;
}

.img_vinho img {
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 70px;
    width: 290px;
    height: 340px;
}
